/* Icon animations from here  */
/* icon animations no.1 */
.iconhover1{ 
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
}

.iconhover1 span{ 
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.iconhover1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.iconhover1:hover span{ 
    padding-right: 25px;
}

.iconhover1:hover span:after{ 
    opacity: 1;
    right: 0;
}
/* icon animation no. 2 */

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .iconhover2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .iconhover2 .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .iconhover2:hover .hvr-icon, .iconhover2:focus .hvr-icon, .iconhover2:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  

/* For click animation series */
/* 1. click me animation */
.animate1 {
    box-shadow: 0 9px #999;
}

.animate1:hover {
    background-color: #c2bcbc
}

.animate1:active {
    background-color: dark grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* animate2 click */
.animate2 {
    position: relative;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}

.animate2:after {
    content: "";
    background: green;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.animate2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.animate3:active{
    box-shadow: inset 0px 0px 20px 10px black;
}
/* Others */
#other1{
    background-image: url(https://images.unsplash.com/photo-1635955174091-29d50f98e27d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80); /*You can use any image (.png and .jpg recommended)*/
    background-size: cover; /*to be full width and height as of button (you can also put own values)*/
    color: white;
}